/**
 * @file popup.css
 * @brief Stylesheet for extension popup.
 */

:root {
  --primary-color: rgb(252 204 147);
  --hover-color: rgb(249 167 68);
  --orange-border-color: #A16D13;
  --orange-bg-color: rgb(254 238 220);
  --grey-text-color: #696969;
  --grey-bg-color: rgb(212 212 212);
  --blue-bg-color: rgb(53 86 106);
  --blue-hover-color: rgb(68 112 137);
  font-family: Roboto Flex,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  width: 500px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--grey-bg-color);
}

input, select {
  border: solid var(--orange-border-color) 1px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-family: Roboto Flex,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

button {
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  border: transparent;
  border-radius: 5px;
}

button:hover:not([disabled]) {
  background-color: var(--hover-color);
  cursor: pointer;
}

h2 {
  font-size: medium;
}

h3 {
  margin-top: 0;
  padding: 0;
}

footer {
  padding: 0 0.5rem;
  color: var(--grey-text-color);
}

footer button {
  background-color: var(--blue-bg-color);
  color: white;
}

footer button:disabled {
  color: lightgray;
  cursor: default;
}

footer button:hover:not([disabled]) {
  background-color: var(--blue-hover-color);
}

#content {
  padding: 0.5rem;
  background-color: white;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button-container > button {
  flex: 1;
  padding: 0.5rem;
}

#settings-table {
  width: 100%;
  font-size: smaller;
  margin-bottom: 1rem;
}

#settings-table h3 {
  margin: 0;
}

#settings-table input {
  width: 100%;
}

#settings-table .settings-message p {
  visibility: hidden;
}

#shifts-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: small;
}

#shifts-table th:first-of-type {
  border-top-left-radius: 5px;
}

#shifts-table th:last-of-type {
  border-top-right-radius: 5px;
}

#shifts-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}

#shifts-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

#shifts-table th {
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 0.3rem;
}

#shifts-table td {
  padding: 0.3rem;
}

#shifts-table tbody tr:nth-child(even) {
  background-color: var(--orange-bg-color);
}

#clear-shifts {
  margin-bottom: 10px;
}

#no-shifts-message {
  font-style: italic;
  color: var(--grey-text-color);
}