body {
  width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  padding: 0;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.button-container > button {
  padding: 0.5rem;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#settings-table {
  width: 100%;
}

#settings-table h3 {
  margin: 0;
}

#settings-table input {
  width: 100%;
}

#settings-table .settings-message p {
  visibility: hidden;
}

#shifts-table {
  width: 100%;
  table-layout: fixed;
}

#shifts-table h3 {
  margin: 0;
}