body {
  width: 500px;
  text-align: center;
  font-family: Calibri, "Lucida Grande";
}

input, button {
  font-family: Calibri, "Lucida Grande";
  border: solid #A16D13 1px;
  border-radius: 5px;
}

input {
  cursor: pointer;
}

button {
  background-color: #FCF5E9;
  font-weight: bold;
}

button:hover:not([disabled]) {
  background-color: #F0C377;
  cursor: pointer;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  padding: 0;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.button-container > button {
  padding: 0.5rem;
}

#settings-table {
  width: 100%;
}

#settings-table h3 {
  margin: 0;
}

#settings-table input {
  width: 100%;
}

#settings-table .settings-message p {
  visibility: hidden;
}

#shifts-header {
  padding-bottom: 10px;
}

#shifts-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 10px;
}

#shifts-table th {
  background-color: #F0C377;
}

#shifts-table h3 {
  margin: 0;
  padding: 5px;
}

#clear-shifts {
  margin-bottom: 10px;
}

#footer {
  color: #696969
}